<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav">
    <link th:href="@{/css/nav.css}" rel="stylesheet">
    <script th:src="@{/js/nav.js}" defer></script>
    <div class="sidemenu">
        <ul class="accordion-menu">
            <div class="logoBox">
                <a href="/">
                <img th:src="@{/images/logo1.png}" alt="" class="logoImg" />
                </a>
            </div>

            <li class="link">
                <div class="dropdown">
                    수주관리
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li class="sub-link"><a href="/order">수주관리</a></li>
                </ul>
            </li>
            <li class="link">
                <div class="dropdown">
                    재고관리
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li class="sub-link"><a href="/inventory1">원자재 관리</a></li>
                    <li class="sub-link"><a href="/inventory2">원자재 발주 현황</a></li>
                    <li class="sub-link"><a href="/inventory3">완제품 재고관리</a></li>
                </ul>
            </li>
            <li class="link">
                <div class="dropdown">
                    생산관리
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li class="sub-link"><a href="/production1">작업지시 현황</a></li>
                    <li class="sub-link"><a href="/production2">작업 실적</a></li>
                    <li class="sub-link"><a href="/production3">생산현황</a></li>
                </ul>
            </li>
            <li class="link">
                <div class="dropdown">
                    출하관리
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li class="sub-link"><a href="/shipping">출하현황</a></li>
                </ul>
            </li>
            <li class="link">
                <div class="dropdown">
                    현황관리
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li class="sub-link"><a href="/status">현황관리</a></li>
                </ul>
            </li>
            <li class="link">
                <div class="dropdown">
                    LOT
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="submenuItems">
                    <li class="sub-link"><a href="/lot">LOT(제품 역추적)</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</html>