@import url(colors.css);
button {
    background-color:var(--grey) ;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 5px;
    margin:0px 10px 0px 0px;
}
button:hover{
    box-shadow:0px 0px 7px rgba(192, 192, 194,0.6);
}

.bg-blue{
    background-color:var(--blue);
}
.bg-blue:hover {
     box-shadow:0px 0px 7px rgba(49, 150, 226,0.6);
 }


.bg-orange{
    background-color:var(--orange);
}
.bg-orange:hover {
    box-shadow:0px 0px 7px rgba(255, 131, 76,0.6);
}

.bg-green{
    background-color:var(--green);
}
.bg-green:hover {
    box-shadow:0px 0px 7px rgba(4, 186, 113,0.6);
}

