@import url(colors.css);
#calendar {
    max-height: 700px;
      }
#calendar table {
   /* border: 2px solid #ddd;*/
    background-color:white;
}
#calendar tr:nth-child(even) {
    background-color: white;
}

#calendar th div{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#calendar td:hover {
  background-color: rgba(4, 186, 113,0.1);
  cursor: pointer;
}


:root{
--fc-today-bg-color: rgba(253, 200, 39,0.2);
--fc-event-bg-color: transparent;
--fc-event-border-color:rgba(0, 0, 0,0);
--fc-event-text-color:var(--darkgreen);

--fc-button-bg-color: var(--darkgreen);
--fc-button-border-color: var(--darkgreen);
--fc-button-hover-bg-color:var(--darkgreen);
--fc-button-hover-border-color: rgba(4, 69, 77,0.7);
--fc-button-active-bg-color: var(--darkgreen);
--fc-button-active-border-color: rgba(4, 69, 77,0.7);
}

.fc-daygrid-dot-event{
 justify-content: space-between;
}

.fc-daygrid-event-dot{
    /*border: calc(var(--fc-daygrid-event-dot-width)/2) solid var(--blue);*/
    /*border-radius: calc(var(--fc-daygrid-event-dot-width)/2);*/
    box-sizing: content-box;
    height: 0px;
    margin: 0px 4px;
    width: 0px;
}

.fc-daygrid-event-harness{
background-color:transparent
}

.fc-event-main div{
    overflow: hidden;
}