/* reset.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url(colors.css);
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}


/* 전체 요소에 기본적으로 적용되는 스타일 초기화 */
html,
body,
div,
span,
applet,
object,
iframe,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend{
  font-family: "Pretendard-Regular";
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* body의 기본 스타일 설정 */
body {
  line-height: 1;
}

/* ol, ul 리스트 스타일 초기화 */
ol,
ul {
  list-style: none;
}

/* 링크 스타일 초기화 */
a {
  text-decoration: none;
  color: inherit;
}
input,button, table, th, td, tr, input, select, option {
  font-family: "Pretendard-Regular";
}
/* 버튼 스타일 초기화 */
/*button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}*/
hr{
  margin:30px 0;
  border-color:#ccc;
}

/* 모든 페이지 공통 적용*/
.titlebox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.titlebox h1{
  display: inline-block;
  margin:0;
}

/* input, select 요소 css*/
/* 기본 스타일 */
input[type="text"],
input[type="date"],
input[type="number"],
select {
  height: 38px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

input[type="date"]{
  min-width: 135px;
}
/* 활성/포커스 상태 스타일 */
input:focus,
select:focus {
  outline: none;
  border-color: var(--green); /* 원하는 포커스 색상으로 설정 */
  box-shadow: 0 0 5px rgba(4, 186, 113, 0.5); /* 원하는 그림자 스타일로 설정 */
}



/* 비활성화 상태 스타일 */
input:disabled,
select:disabled {
  opacity: 0.6; /* 비활성화된 요소 투명도 설정 */
  cursor: not-allowed; /* 비활성화된 요소에 커서 스타일 변경 */
}
