<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>aone-재고관리</title>
  <th:block th:replace="fragments/config::configFragment"></th:block>
  <link th:href="@{/css/inventoryPage.css}" rel="stylesheet">
  <!--  <script th:src="@{/js/orderPage.js}" defer></script>-->
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<!--<div layout:fragment="nav"></div>-->
<div layout:fragment="content" id="contentStyle">
  <h1>총 재고수량</h1>

  <table style="border: 2px solid #ddd">
    <thead>
    <tr>
      <th>제품명</th>
      <th colspan="2">수량</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>양배추즙</td>
      <td>/box</td>
      <td>/ea</td>
    </tr>
    <tr>
      <td>흑마늘즙</td>
      <td>/box</td>
      <td>/ea</td>
    </tr>
    <tr>
      <td>석류젤리스틱</td>
      <td>/box</td>
      <td>/ea</td>
    </tr>
    <tr>
      <td>매실젤리스틱</td>
      <td>/box</td>
      <td>/ea</td>
    </tr>

    </tbody>
  </table>

  <hr>

  <h1>재고 입출고 현황</h1>
  <div style="margin-bottom: 20px;">
    <form action="">
      <select name="" id="option1">
        <option disabled selected>제품명</option>
        <option value="">양배추즙</option>
        <option value="">흑마늘즙</option>
        <option value="">석류젤리스틱</option>
        <option value="">매실젤리스틱</option>
      </select>

      <select name="" id="option2">
        <option disabled selected>입출고 상태</option>
        <option value="">입고</option>
        <option value="">출고</option>
      </select>

      <input type="date">~
      <input type="date">


      <button type="submit">검색</button>
      <button class="bg-green" style="float: right" type="button"
              onclick="downloadTablesAsExcel()">Execl 다운로드</button>
    </form>
  </div>

  <div class="table-container" style="height: 600px">
  <table>
    <thead>
    <tr>
      <th>제품명</th>
      <th colspan="2">수량</th>
      <th>상태</th>
      <th>날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>양배추즙</td>
      <td>25 /box</td>
      <td>10 /ea</td>
      <td>입고</td>
      <td>23.12.12</td>
    </tr>

    </tbody>
  </table>
  </div>
</div>

</body>
</html>