<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>aone-재고관리</title>
    <th:block th:replace="fragments/config::configFragment"></th:block>
    <link th:href="@{/css/inventoryPage.css}" rel="stylesheet">
    <!--  <script th:src="@{/js/orderPage.js}" defer></script>-->
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<!--<div layout:fragment="nav"></div>-->
<div layout:fragment="content" id="contnet">
    <h1>원자재 총 수량</h1>

    <table>
        <thead>
        <tr>
            <th>자재명</th>
            <th>수량</th>
            <th>자재명</th>
            <th>수량</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>양배추</td>
            <td>/kg</td>
            <td>콜라겐</td>
            <td>/kg</td>
        </tr>
        <tr>
            <td>흑마늘</td>
            <td>/kg</td>
            <td>파우치</td>
            <td>/ea</td>
        </tr>
        <tr>
            <td>석류액기스</td>
            <td>/kg</td>
            <td>스틱파우치</td>
            <td>/ea</td>
        </tr>
        <tr>
            <td>매실액기스</td>
            <td>/kg</td>
            <td>박스</td>
            <td>/box</td>
        </tr>
        </tbody>
    </table>

    <hr>

    <h1>원자재 입출고 현황</h1>
    <div style="margin-bottom: 20px;">
        <form action="">
            <select name="" id="option1">
                <option disabled selected>자재명</option>
                <option value="">양배추</option>
                <option value="">흑마늘</option>
                <option value="">석류액기스</option>
                <option value="">매실액기스</option>
                <option value="">콜라겐</option>
                <option value="">파우치</option>
                <option value="">스틱파우치</option>
                <option value="">박스</option>
            </select>
            <select name="" id="option2">
                <option disabled selected>입출고 상태</option>
                <option value="">입고</option>
                <option value="">출고</option>
            </select>

            <input type="date">~
            <input type="date">


            <button type="submit">검색</button>
            <button class="bg-green" style="float: right" type="button">Execl 다운로드</button>
        </form>
    </div>
    <table>
        <thead>
        <tr>
            <th>발주번호</th>
            <th>자재명</th>
            <th>상태</th>
            <th>수량</th>
            <th>단위</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>123123</td>
            <td>양배추</td>
            <td>입고</td>
            <td>222</td>
            <td>kg</td>
            <td>23.12.12</td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>