<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>aone-재고관리</title>
    <th:block th:replace="fragments/config::configFragment"></th:block>
    <link th:href="@{/css/inventoryPage.css}" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/nav::nav"></div>

<div layout:fragment="content" id="contentStyle">
    <h1>원자재 총 수량</h1>

    <table class="justInfo">
        <thead>
        <tr>
            <th>자재명</th>
            <th>수량</th>
            <th>자재명</th>
            <th>수량</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="orderDTO, status: ${materialStorageNumDTOList}" th:if="${status.index % 2 == 0}">
            <td th:text="${orderDTO.materialName}"></td>
            <td th:text="${orderDTO.materialQty}"></td>
            <td th:if="${status.index + 1 < materialStorageNumDTOList.size()}"
                th:text="${materialStorageNumDTOList[status.index + 1].materialName}"></td>
            <td th:if="${status.index + 1 < materialStorageNumDTOList.size()}"
                th:text="${materialStorageNumDTOList[status.index + 1].materialQty}"></td>

        </tr>

        </tbody>
    </table>

    <hr>

    <h1>원자재 입출고 현황</h1>
    <div style="margin-bottom: 20px;">
        <form action="/inventory3/search" method="get">
            <select name="searchMaterial" id="option1">
                <option disabled selected>자재명</option>
                <option value="양배추">양배추</option>
                <option value="흑마늘">흑마늘</option>
                <option value="석류액기스">석류액기스</option>
                <option value="매실액기스">매실액기스</option>
                <option value="콜라겐">콜라겐</option>
                <option value="파우치">파우치</option>
                <option value="스틱파우치">스틱파우치</option>
                <option value="박스">박스</option>
            </select>
            <select name="searchState" id="option2">
                <option disabled selected>입출고 상태</option>
                <option value="I">입고</option>
                <option value="O">출고</option>
            </select>

            <div class="periodBox">
                <input type="date">
                <span>~</span>
                <input type="date">
            </div>


            <button type="submit">검색</button>
            <button class="bg-green" style="float: right" type="button"
                    onclick="downloadTablesAsExcel()">Excel 다운로드</button>
        </form>
    </div>

    <div class="table-container" style="height: 600px">
        <table>
            <thead>
            <tr>
                <th>자재명</th>
                <th>상태</th>
                <th>수량</th>
                <th>단위</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="materialStorageDTO, status: ${materialStorageDTOList}">
                <td th:text="${materialStorageDTO.materialName}"></td>
                <td>
                    <span th:if="${materialStorageDTO.getMStorageState().name()== 'I'}">입고</span>
                    <span th:if="${materialStorageDTO.getMStorageState().name() == 'O'}">출고</span>
                </td>

                <td th:text="${materialStorageDTO.materialQty}"></td>
                <td th:text="${materialStorageDTO.materialUnit}"></td>
                <td th:text="${#temporals.format(materialStorageDTO.getMStorageDate(), 'yy/MM/dd　hh:mm')}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>