<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>aone-재고관리</title>
    <th:block th:replace="fragments/config::configFragment"></th:block>
    <link th:href="@{/css/inventoryPage.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/nav::nav"></div>

<div layout:fragment="content" id="contentStyle">
    <div class="innerContent"></div>
    <h1>원자재 총 수량</h1>
    <table class="justInfo">
        <thead>
        <tr>
            <th>자재명</th>
            <th>수량</th>
            <th>자재명</th>
            <th>수량</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="materialDTO, status: ${Material}" th:if="${status.index % 2 == 0}">
            <td th:text="${materialDTO.materialName}"></td>
            <td th:text="${materialDTO.currentQuantity}"></td>
            <td th:if="${status.index + 1 &lt; Material.size()}" th:text="${Material[status.index + 1].materialName}"></td>
            <td th:if="${status.index + 1 &lt; Material.size()}" th:text="${Material[status.index + 1].currentQuantity}"></td>
        </tr>

        </tbody>
    </table>

    <hr>

    <h1>원자재 입출고 현황</h1>
    <div class="titlebox" style="margin-bottom: 20px;">
        <form  method="get" action="/inventory1/search">
            <select name="searchMaterial" id="option1">
                <option disabled selected>자재명</option>
                <option value="양배추">양배추</option>
                <option value="흑마늘">흑마늘</option>
                <option value="석류액기스">석류액기스</option>
                <option value="매실액기스">매실액기스</option>
                <option value="콜라겐">콜라겐</option>
                <option value="파우치">파우치</option>
                <option value="스틱파우치">스틱파우치</option>
                <option value="박스">박스</option>
            </select>

            <select name="searchMState" id="option2">
                <option disabled selected>입출고 상태</option>
                <option value="I">입고</option>
                <option value="O">출고</option>
            </select>

            <div class="periodBox">
                <input type="date" id="startDate" name="matStartDate">
                <span>~</span>
                <input type="date" id="endDate" name="matEndDate">


            </div>


            <button type="submit">검색</button>

        </form>
        <button class="bg-excel" onclick="downloadTablesAsExcel()">
            Excel <i class="fa-sharp fa-solid fa-file-arrow-down"></i>
        </button>
    </div>

    <div class="table-container" style="height: 600px">
        <table>
            <thead>
            <tr>
                <th>자재명</th>
                <th>상태</th>
                <th>수량</th>
                <th>단위</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="materialStorage : ${materialStorageList}">
                <td th:text="${materialStorage.materialName.materialName}"></td>
                <td>
                    <span th:if="${materialStorage.materialStorageState.name()=='I'}" style="color: #3196e2">입고</span>
                    <span th:if="${materialStorage.materialStorageState.name()=='O'}" style="color: #ff6b6c">출고</span>
                </td>

                <td th:text="${materialStorage.materialQty}"></td>
                <td th:text="${materialStorage.unit}"></td>
                <td th:text="${#temporals.format(materialStorage.materialStorageDate, 'yy/MM/dd')}"></td>
            </tr>


            </tbody>
        </table>
    </div>
</div>

</body>
</html>