<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>aone-LOT</title>
    <th:block th:replace="fragments/config::configFragment"></th:block>
    <link th:href="@{/css/lotPage.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/nav::nav"></div>

<div layout:fragment="content" id="contentStyle">
    <div class="innerContent">
    <h1>LOT 검색</h1>

    <div class="titlebox">
        <form action="/lot/backwardsearch">
            <input type="text" name="lotNum" placeholder="LOT 번호(Backward)">
            <button type="submit">검색</button>
        </form>
        <form action="/lot/forwardsearch">
            <input type="text" name="lotNum" placeholder="LOT 번호(Forward)">
            <button type="submit">검색</button>
        </form>

        <button class="bg-excel" onclick="downloadTablesAsExcel()">
            Excel <i class="fa-sharp fa-solid fa-file-arrow-down"></i>
        </button>
    </div>

    <hr>

    <h3>LOT 추적 결과</h3>
    <div class="table-container" style="height: 400px">
        <table id="lotTable">
            <thead>
            <tr>
                <th>생산ID</th>
                <th>공정단계</th>
                <th>제품명</th>
                <th>수량</th>
                <th>단위</th>
                <th>LOT</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lotLists : ${lotList}">
                <td th:text="${lotLists.getProduction().getProductionId()}"></td>
                <td th:text="${lotLists.getProduction().getProcessPlan().getProcessStage()}"></td>
                <td th:text="${lotLists.getProduction().getProductionName()}"></td>
                <td th:text="${lotLists.getProduction().getProductionQty()}"></td>
                <td th:text="box"></td>
                <td th:text="${lotLists.getProduction().getLotNumber()}"></td>
            </tr>

            </tbody>
        </table>
    </div>
    <hr>

    <h3>완제품(box) 생산목록</h3>
        <div class="table-container" style="height: 400px">
            <table>
                <thead>
                <tr>
                    <th>생산ID</th>
                    <th>공정단계</th>
                    <th>제품명</th>
                    <th>수량</th>
                    <th>단위</th>
                    <th>LOT</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="finalLotLists : ${finalLotList}" th:attr="data-lot-number=${finalLotLists.getProduction().getLotNumber()}" onclick="getSelectLotList(this);">
                    <td th:text="${finalLotLists.getProduction().getProductionId()}"></td>
                    <td th:text="${finalLotLists.getProduction().getProcessPlan().getProcessStage()}"></td>
                    <td th:text="${finalLotLists.getProduction().getProductionName()}"></td>
                    <td th:text="${finalLotLists.getProduction().getProductionQty()}"></td>
                    <td th:text="box"></td>
                    <td th:text="${finalLotLists.getProduction().getLotNumber()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
<script type="text/javascript">
    function getSelectLotList(element){
        var lotNum = element.getAttribute('data-lot-number');
        console.log(lotNum);
        $.ajax({
            url: "/lot",
            method: 'POST',
            data: { lotNum: lotNum },
            success: function(lotList) {
                console.log(lotList);
                setLotList(lotList);
            },
            error: function(error) {
                console.log('Error fetching lots:', error);
            }
        });
    }

    function setLotList(lotList){
        var tableBody = $('#lotTable > tbody');
        tableBody.empty();

        lotList.forEach(function(lot) {
            var row = $('<tr>');
            row.append($('<td>').text(lot.production.productionId));
            row.append($('<td>').text(lot.production.processPlan.processStage));
            row.append($('<td>').text(lot.production.productionName));
            row.append($('<td>').text(lot.production.productionQty));
            row.append($('<td>').text("box"));
            row.append($('<td>').text(lot.lotNum));
            tableBody.append(row);
        });
    }
</script>
</html>