<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>aone-출하현황</title>
    <th:block th:replace="fragments/config::configFragment"></th:block>
    <link th:href="@{/css/inventoryPage.css}" rel="stylesheet">
    <!--  <script th:src="@{/js/orderPage.js}" defer></script>-->
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<!--<div layout:fragment="nav"></div>-->
<div layout:fragment="content" id="contentStyle">

    <div class="titlebox">
        <h1 style="display: inline-block">출하현황</h1>
        <button class="bg-excel" onclick="downloadTablesAsExcel()">
            Excel <i class="fa-sharp fa-solid fa-file-arrow-down"></i>
        </button>
    </div>

    <hr>
    <div style="margin-bottom: 20px;">
        <form action="/shipping/search">
            <input name="salesOrderId" type="text" placeholder="수주 ID">
            <select name="vendorId" id="option1">
                <option disabled selected>거래처</option>
                <option value="ven-11">11번가</option>
                <option value="ven-cou">쿠팡</option>
            </select>
            <select name="shipmentProduct" id="option2">
                <option disabled selected>제품명</option>
                <option value="양배추즙">양배추즙</option>
                <option value="흑마늘즙">흑마늘즙</option>
                <option value="석류젤리스틱">석류젤리스틱</option>
                <option value="매실젤리스틱">매실젤리스틱</option>
            </select>

            <div class="periodBox">
                <input type="date" id="startDate" name="startDate">
                <span>~</span>
                <input type="date" id="endDate" name="endDate">
            </div>

            <select name="shipmentState" id="option3">
                <option disabled selected>출하상태</option>
                <option value="A">대기</option>
                <option value="B">완료</option>
            </select>

            <button type="submit">검색</button>

        </form>
    </div>
    <hr>
    <div class="table-container" style="height: 800px">
    <table>
        <thead>
        <tr>
            <th>수주 ID</th>
            <th>거래처</th>
            <th>제품명</th>
            <th>수량(box)</th>
            <th>출하 일자</th>
            <th>출하 상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shipment : ${shipments}">
            <td th:text="${shipment.salesOrderId}"></td>
            <td>
                <span th:if="${shipment.vendorId.contains('c')}">쿠팡</span>
                <span th:unless="${shipment.vendorId.contains('c')}">11번가</span>
            </td>

            <td th:text="${shipment.shipmentProduct}"></td>
            <td th:text="${shipment.shipmentQty}"></td>
            <td th:text="${shipment.shipmentDate}"></td>
            <td>
                <span th:text="${shipment.shipmentState.name()=='A'} ? '대기' : '완료'"></span>
            </td>
        </tr>

        </tbody>
    </table>
    </div>
</div>

</body>
</html>