<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>aone-현황관리</title>
    <th:block th:replace="fragments/config::configFragment"></th:block>
    <link th:href="@{/css/statusPage.css}" rel="stylesheet">
    <link th:href="@{/css/progressbar.css}" rel="stylesheet">
    <!--  <script th:src="@{/js/orderPage.js}" defer></script>-->


</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<!--<div layout:fragment="nav"></div>-->
<div layout:fragment="content" id="contentStyle">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div>
        <h1 style="display: inline-block">수주 진척도 조회</h1>
    </div>

    <div class="table-container" style="height: 300px">
    <table>
        <thead>
        <tr>
            <th>수주 ID</th>
            <th>입고</th>
            <th>전처리</th>
            <th>추출</th>
            <th>혼합</th>
            <th>충진</th>
            <th>검사</th>
            <th>포장</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>000-001</td>
            <td><i class="fa-solid fa-check" style="color:var(--navy)"></i></td>
            <td><i class="fa-solid fa-check" style="color:var(--navy)"></i></td>
            <td><span style="font-size:30px; font-weight: 500; color:var(--grey)">-</span></td>
            <td><i class="fa-solid fa-check" style="color:var(--navy)"></i></td>
            <td><i class="fa-solid fa-check" style="color:var(--navy)"></i></td>
            <td><i class="fas fa-spinner fa-pulse" style="color:var(--green)"></i></td>
            <td></td>

        </tr>

        </tbody>
    </table>
    </div>
    <hr>
    <h1>설비별 공정 현황</h1>
    <ul>
        <li>
            <p class="greenLabel">추출</p>
            <div class="flexbox-r">
                <div class="flexbox-r-item">
                    <h4>액상 추출기1</h4>
                    <div class="gridItem">
                        <div class="graphBox">
                            <div class="progress-circle over50 p66">
                                <span>66%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span></span></p>
                            <p><b>제품명:</b><br><span></span></p>
                            <p><b>시작 시간:</b><br><span></span></p>
                            <p><b>종료 시간:</b><br><span></span></p>

                        </div>
                    </div>

                </div>
                <div>
                    <h4>액상 추출기2</h4>
                    <div class="gridItem">
                        <div class="graphBox">

                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>

                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span></span></p>
                            <p><b>제품명:</b><br><span></span></p>
                            <p><b>시작 시간:</b><br><span></span></p>
                            <p><b>종료 시간:</b><br><span></span></p>

                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <p class="greenLabel">혼합</p>
            <div class="flexbox-r">
                <div class="flexbox-r-item">
                    <h4>혼합 저장 탱크1</h4>
                    <div class="gridItem">
                        <div class="graphBox">
                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span></span></p>
                            <p><b>제품명:</b><br><span></span></p>
                            <p><b>시작 시간:</b><br><span></span></p>
                            <p><b>종료 시간:</b><br><span></span></p>

                        </div>
                    </div>

                </div>
                <div>
                    <h4>혼합 저장 탱크2</h4>
                    <div class="gridItem">
                        <div class="graphBox">

                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>

                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span></span></p>
                            <p><b>제품명:</b><br><span></span></p>
                            <p><b>시작 시간:</b><br><span></span></p>
                            <p><b>종료 시간:</b><br><span></span></p>

                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <p class="greenLabel">충진</p>
            <div class="flexbox-r">
                <div>
                <div class="flexbox-r-item">
                    <h4>파우치 포장1</h4>
                    <div class="gridItem">
                        <div class="graphBox">
                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span></span></p>
                            <p><b>제품명:</b><br><span></span></p>
                            <p><b>시작 시간:</b><br><span></span></p>
                            <p><b>종료 시간:</b><br><span></span></p>

                        </div>
                    </div>
                </div>

                <div class="flexbox-r-item">
                    <h4>파우치 포장2</h4>
                    <div class="gridItem">
                        <div class="graphBox">

                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>

                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span></span></p>
                            <p><b>제품명:</b><br><span></span></p>
                            <p><b>시작 시간:</b><br><span></span></p>
                            <p><b>종료 시간:</b><br><span></span></p>

                        </div>
                    </div>
                </div>
                </div>
                <div>
                <div class="flexbox-r-item">
                    <h4>액상 스틱 포장1</h4>
                    <div class="gridItem">
                        <div class="graphBox">
                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span></span></p>
                            <p><b>제품명:</b><br><span></span></p>
                            <p><b>시작 시간:</b><br><span></span></p>
                            <p><b>종료 시간:</b><br><span></span></p>

                        </div>
                    </div>
                </div>

                <div class="flexbox-r-item">
                    <h4>액상 스틱 포장2</h4>
                    <div class="gridItem">
                        <div class="graphBox">

                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>

                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span></span></p>
                            <p><b>제품명:</b><br><span></span></p>
                            <p><b>시작 시간:</b><br><span></span></p>
                            <p><b>종료 시간:</b><br><span></span></p>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </li>
        <li>
            <p class="greenLabel">검사</p>
            <div class="flexbox-r">
                <div class="flexbox-r-item">
                    <h4>열교환기</h4>
                    <div class="gridItem">
                        <div class="graphBox">
                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span></span></p>
                            <p><b>제품명:</b><br><span></span></p>
                            <p><b>시작 시간:</b><br><span></span></p>
                            <p><b>종료 시간:</b><br><span></span></p>

                        </div>
                    </div>

                </div>
                <div>
                    <h4>금속 검출기</h4>
                    <div class="gridItem">
                        <div class="graphBox">

                            <div class="progress-circle p30">
                                <span>30%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>

                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span>000-001</span></p>
                            <p><b>제품명:</b><br><span>양배추즙</span></p>
                            <p><b>시작 시간:</b><br><span>23.00.00 12:15</span></p>
                            <p><b>종료 시간:</b><br><span>23.00.00 12:15</span></p>


                        </div>
                    </div>
                </div>
            </div>
        </li>


    </ul>


</div>

</div>
</body>
</html>