<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>aone-현황관리</title>
    <th:block th:replace="fragments/config::configFragment"></th:block>
    <link th:href="@{/css/statusPage.css}" rel="stylesheet">
    <link th:href="@{/css/progressbar.css}" rel="stylesheet">
    <script th:src="@{/js/statusPage1.js}" defer></script>
    <script th:src="@{/js/statusPage2.js}" defer></script>



</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<div layout:fragment="content" id="contentStyle">

        <h1 style="display: inline-block; margin-bottom: 0px;">수주 진척도 조회</h1>
        <p style="text-align: right; margin-bottom: 10px">
            <i class="fa-solid fa-check" style="color:var(--navy)"></i>　완료　　
<!--            <i><span style="font-size:30px; font-weight: 500; color:var(&#45;&#45;grey)">-</span> </i>　미해당　　-->
            <i class="fas fa-spinner" style="color:var(--green)"></i>　진행중　
        </p>


    <div class="table-container" style="height: 300px;">
    <table>
        <colgroup>
            <col style="width: 19%">
            <col style="width: 15%">
            <col style="width: 11%">
            <col style="width: 11%">
            <col style="width: 11%">
            <col style="width: 11%">
            <col style="width: 11%">
            <col style="width: 11%">
        </colgroup>
        <thead>
        <tr >
            <th>수주 ID</th>
            <th>제품명</th>
            <th>원료계량</th>
            <th>전처리</th>
            <th>추출 / 혼합</th>
            <th>충진</th>
            <th>검사</th>
            <th>포장</th>
        </tr>
        </thead>
        <tbody>


        <tr class="productPlanList" th:each="pp, status : ${productPlanList}">
            <td class="orderId" th:text="${pp.workOrder.salesOrder.salesOrderId}"></td>
            <td class="orderPN" th:text="${pp.workOrder.salesOrder.productName}"></td>
            <td class="stage1">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                   th:if="${processStageNumbers[__${status.index}__]}>1" ></span>
                <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                   th:if="${processStageNumbers[__${status.index}__]}==1"></span>
            </td>
            <td class="stage2">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                   th:if="${processStageNumbers[__${status.index}__]}>2" ></span>
                <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                   th:if="${processStageNumbers[__${status.index}__]}==2"></span>
            </td>
            <td class="stage3">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                   th:if="${processStageNumbers[__${status.index}__]}>3" ></span>
                <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                   th:if="${processStageNumbers[__${status.index}__]}==3"></span>
            </td>
            <td class="stage4">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                   th:if="${processStageNumbers[__${status.index}__]}>4" ></span>
                <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                   th:if="${processStageNumbers[__${status.index}__]}==4"></span>
            </td>
            <td class="stage5">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                   th:if="${processStageNumbers[__${status.index}__]}>5" ></span>
                <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                   th:if="${processStageNumbers[__${status.index}__]}==5"></span>
            </td>
            <td class="stage6">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                   th:if="${processStageNumbers[__${status.index}__]}>6" ></span>
                <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                   th:if="${processStageNumbers[__${status.index}__]}==6"></span>
            </td>

        </tr>


        </tbody>
    </table>
    </div>
    <hr>



    <h1>설비별 공정 현황</h1>
    <ul>
        <li>
            <p class="greenLabel">추출</p>
            <div class="flexbox-r">
                <div class="flexbox-r-item">
                    <h4>액상 추출기1</h4>
                    <div class="gridItem">
                        <div class="graphBox">
                            <div class="progress-circle">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span id="jobId1"></span></p>
                            <p><b>제품명:</b><br><span id="productName1"></span></p>
                            <p><b>시작 시간:</b><br><span id="startTime1"></span></p>
                            <p><b>종료 시간:</b><br><span id="endTime1"></span></p>
                        </div>
                    </div>

                </div>
                <div>
                    <h4>액상 추출기2</h4>
                    <div class="gridItem">
                        <div class="graphBox">

                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>

                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span id="jobId2">13535</span></p>
                            <p><b>제품명:</b><br><span id="productName2">테스트e</span></p>
                            <p><b>시작 시간:</b><br><span id="startTime2">23/05/26 14:25</span></p>
                            <p><b>종료 시간:</b><br><span id="endTime2">23/05/26 14:33</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <p class="greenLabel">혼합</p>
            <div class="flexbox-r">
                <div class="flexbox-r-item">
                    <h4>혼합 저장 탱크1</h4>
                    <div class="gridItem">
                        <div class="graphBox">
                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span id="jobId3">13535</span></p>
                            <p><b>제품명:</b><br><span id="productName3">테스트</span></p>
                            <p><b>시작 시간:</b><br><span id="startTime3">23/05/25 14:50</span></p>
                            <p><b>종료 시간:</b><br><span id="endTime3">23/05/27 09:30</span></p>

                        </div>
                    </div>

                </div>
                <div>
                    <h4>혼합 저장 탱크2</h4>
                    <div class="gridItem">
                        <div class="graphBox">

                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>

                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span id="jobId4"></span></p>
                            <p><b>제품명:</b><br><span id="productName4"></span></p>
                            <p><b>시작 시간:</b><br><span id="startTime4"></span></p>
                            <p><b>종료 시간:</b><br><span id="endTime4"></span></p>

                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <p class="greenLabel">충진</p>
            <div class="flexbox-r">
                <div>
                <div class="flexbox-r-item">
                    <h4>파우치 포장1</h4>
                    <div class="gridItem">
                        <div class="graphBox">
                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span id="jobId5"></span></p>
                            <p><b>제품명:</b><br><span id="productName5"></span></p>
                            <p><b>시작 시간:</b><br><span id="startTime5"></span></p>
                            <p><b>종료 시간:</b><br><span id="endTime5"></span></p>

                        </div>
                    </div>
                </div>

                <div class="flexbox-r-item">
                    <h4>파우치 포장2</h4>
                    <div class="gridItem">
                        <div class="graphBox">

                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>

                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span id="jobId6"></span></p>
                            <p><b>제품명:</b><br><span id="productName6"></span></p>
                            <p><b>시작 시간:</b><br><span id="startTime6"></span></p>
                            <p><b>종료 시간:</b><br><span id="endTime6"></span></p>

                        </div>
                    </div>
                </div>
                </div>
                <div>
                <div class="flexbox-r-item">
                    <h4>액상 스틱 포장1</h4>
                    <div class="gridItem">
                        <div class="graphBox">
                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span id="jobId7">23135</span></p>
                            <p><b>제품명:</b><br><span id="productName7">뭐게용</span></p>
                            <p><b>시작 시간:</b><br><span id="startTime7">23/05/25 17:20</span></p>
                            <p><b>종료 시간:</b><br><span id="endTime7">23/05/26 08:00</span></p>

                        </div>
                    </div>
                </div>

                <div class="flexbox-r-item">
                    <h4>액상 스틱 포장2</h4>
                    <div class="gridItem">
                        <div class="graphBox">

                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>

                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span id="jobId8"></span></p>
                            <p><b>제품명:</b><br><span id="productName8"></span></p>
                            <p><b>시작 시간:</b><br><span id="startTime8"></span></p>
                            <p><b>종료 시간:</b><br><span id="endTime8"></span></p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </li>
        <li style="display: flex; flex-direction: row; flex-wrap: nowrap">
            <div style="width: 49%">
            <p class="greenLabel">검사</p>
            <div class="flexbox-r">
                <div>
                    <h4>금속 검출기</h4>
                    <div class="gridItem">
                        <div class="graphBox">

                            <div class="progress-circle p30">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>

                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span id="jobId10">000-001</span></p>
                            <p><b>제품명:</b><br><span id="productName10">양배추즙</span></p>
                            <p><b>시작 시간:</b><br><span id="startTime10">23/05/25 12:15</span></p>
                            <p><b>종료 시간:</b><br><span id="endTime10">23/05/26 12:15</span></p>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <div style="width: 2%; height: 100%;"></div>
            <div style="width: 49%">
            <p class="greenLabel">열교환</p>
            <div class="flexbox-r">
                <div class="flexbox-r-item">
                    <h4>열교환기</h4>
                    <div class="gridItem">
                        <div class="graphBox">
                            <div class="progress-circle p0">
                                <span class="p0">0%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statusInfo">
                            <p><b>작업 ID:</b><br><span id="jobId9"></span></p>
                            <p><b>제품명:</b><br><span id="productName9"></span></p>
                            <p><b>시작 시간:</b><br><span id="startTime9"></span></p>
                            <p><b>종료 시간:</b><br><span id="endTime9"></span></p>

                        </div>
                    </div>

                </div>
            </div>
            </div>
        </li>
    </ul>

</div>

</div>
</body>
</html>