<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>testpage</title>
<th:block th:replace="fragments/config::configFragment"></th:block>
<!--    <th:block layout:fragment="script"></th:block>-->
<!--    <th:block layout:fragment="css"></th:block>-->
</head>
<body>
<div th:replace="fragments/nav::nav"></div>
<!--<div layout:fragment="nav"></div>-->
<div layout:fragment="content" id="contnet">
    contentfeijesljlifejlej
</div>
</body>
</html>