<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <th:block th:replace="fragments/config::configFragment"></th:block>

    <!--    <script th:src="@{/js/currentTime.js}" defer></script>-->
    <script th:src="@{/js/calender.js}" defer></script>
    <link th:href="@{/css/calender.css}" rel="stylesheet">

</head>
<body>
<header th:replace="fragments/nav::nav"></header>

<div layout:fragment="content" id="contentStyle">
    <div class="innerContent">
        <h2 id="current-time"></h2>

        <div id="calendar"></div>

        <hr>
        <div class="titlebox" style="margin:40px 0 20px 0">
            <h1>수주 진척도 조회</h1>
            <button class="bg-green" onclick="window.location.href='/status'">현황 관리</button>

        </div>

        <div class="titlebox" style="margin: 10px 0">
        <b>날짜 : </b><span></span>
        <span style="text-align: right;">
            <i class="fa-solid fa-check" style="color:var(--navy)"></i>　완료　　
            <!--            <i><span style="font-size:30px; font-weight: 500; color:var(&#45;&#45;grey)">-</span> </i>　미해당　　-->
            <i class="fas fa-spinner" style="color:var(--green)"></i>　진행중　
        </span>
        </div>

        <div class="table-container" style="height: 300px">
            <table>
                <thead>
                <tr>
                    <th>수주 ID</th>
                    <th>제품명</th>
                    <th>전처리</th>
                    <th>추출</th>
                    <th>혼합</th>
                    <th>충진</th>
                    <th>검사</th>
                    <th>포장</th>
                </tr>
                </thead>
                <tbody>
                <tr class="productPlanList" th:each="pp, status : ${productPlanList}">
                    <td class="orderId" th:text="${pp.workOrder.salesOrder.salesOrderId}"></td>
                    <td class="orderPN" th:text="${pp.workOrder.salesOrder.productName}"></td>
                    <td class="stage1">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                      th:if="${processStageNumbers[__${status.index}__]}>1" ></span>
                        <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                              th:if="${processStageNumbers[__${status.index}__]}==1"></span>
                    </td>
                    <td class="stage2">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                      th:if="${processStageNumbers[__${status.index}__]}>2" ></span>
                        <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                              th:if="${processStageNumbers[__${status.index}__]}==2"></span>
                    </td>
                    <td class="stage3">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                      th:if="${processStageNumbers[__${status.index}__]}>3" ></span>
                        <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                              th:if="${processStageNumbers[__${status.index}__]}==3"></span>
                    </td>
                    <td class="stage4">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                      th:if="${processStageNumbers[__${status.index}__]}>4" ></span>
                        <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                              th:if="${processStageNumbers[__${status.index}__]}==4"></span>
                    </td>
                    <td class="stage5">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                      th:if="${processStageNumbers[__${status.index}__]}>5" ></span>
                        <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                              th:if="${processStageNumbers[__${status.index}__]}==5"></span>
                    </td>
                    <td class="stage6">
                <span class="fa-solid fa-check" style="color:var(--navy)"
                      th:if="${processStageNumbers[__${status.index}__]}>6" ></span>
                        <span class="fas fa-spinner fa-pulse" style="color:var(--green)"
                              th:if="${processStageNumbers[__${status.index}__]}==6"></span>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>